@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
  }

  body {
    @apply selection:bg-brand-500 selection:text-white;
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-charcoal-700 rounded-full hover:bg-slate-400 dark:hover:bg-charcoal-600;
}

/* Leaflet Container styling */
.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 0.75rem;
  z-index: 10;
}

.dark .leaflet-tile {
  filter: brightness(0.7) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}
